{{ define "main" }}
<nav>
    {{ partial "bookshop" (slice "button" 
        (dict 
            "label" "Custom Link"
            "link_url" "/about"
            "class" "text-teal-600 underline"
        )) 
    }}
    {{ partial "bookshop" (slice "button" 
        (dict 
            "label" "Custom Button" 
            "class" "block my-6 px-6 py-2 rounded bg-teal-600 text-white font-mono"
        )) 
    }}

    {{ partial "bookshop" (slice "button" 
        (dict 
            "label" "Default Button"
        )) 
    }}
</nav>

{{ $content := .Content | markdownify }}
{{ partial "bookshop" (slice "content" 
    (dict 
        "content_html" $content
        "class" "prose prose-xl p-4 bg-gray-100 rounded"
    )) 
}}

{{ end }}